[Unit]
Description=Minecraft server
After=network.target

[Service]
User=minecraft
Group=minecraft

WorkingDirectory=/var/lib/minecraft/deploy/server
RuntimeDirectory=minecraft-server
Environment="PATH=/usr/local/bin:/usr/bin:/bin"

Type=forking
ExecStart=/usr/bin/tmux -S /run/minecraft-server/tmux new-session -d /usr/bin/python3 /var/lib/minecraft/deploy/contrib/server_loop.py --block start.block /var/lib/minecraft/deploy/server/start.sh :POST: /var/lib/minecraft/deploy/server/backup.sh
ExecStop=/usr/bin/tmux -S /run/minecraft-server/tmux kill-server 2>/dev/null || true

PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes

NoNewPrivileges=true
PrivateUsers=true
ProtectClock=true
ProtectKernelLogs=true
ProtectHostname=true
LockPersonality=true
RestrictSUIDSGID=true
RestrictNamespaces=yes

SystemCallArchitectures=native
SystemCallFilter=@system-service
AmbientCapabilities=CAP_KILL
CapabilityBoundingSet=CAP_KILL

WorkingDirectory=/var/lib/minecraft/deploy/server
ReadWriteDirectories=/var/lib/minecraft

[Install]
WantedBy=multi-user.target
